.nav0{
    position: fixed;
    width: 100vw;
}

.navbar{
    background: linear-gradient(0deg, transparent 0%, rgba(255,255,255,.5) 50%);
}

.nav-ul{
    padding-left: 10%;
}

.nav-item{
    margin-left: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
}

.dropdown-menu{
    border: transparent;
    text-align: end;
    background-color: transparent;
    font-size: 1.2rem;
}


.soluc-hidden{
    display: none;
}

.butNav{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnav{
    font-size: 1.2rem;
    border-radius: 0;
}

.contact-btn{
    margin-left: 5%;
}



